<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Register</title>
</head>
<body>
<div layout:fragment="content">
    <h1 class="mb-4">Register</h1>
    <div th:replace="~{fragments/forms::globalErrors('registrationRequest')}" />
    <form th:action="${requestUri}" method="post">
        <div th:replace="~{fragments/forms::inputRow(object='registrationRequest', field='username', required=true, label='Username')}" />
        <div th:replace="~{fragments/forms::inputRow(object='registrationRequest', field='password', required=true, type='password', label='Password')}" />
        <div th:replace="~{fragments/forms::inputRow(object='registrationRequest', field='email', required=true, label='Email')}" />
        <div th:replace="~{fragments/forms::inputRow(object='registrationRequest', field='role', required=true, type='radio')}" />
        <input type="submit" th:value="Register" class="btn btn-primary mt-4" />
    </form>
</div>
</body>
</html>