<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>List</title>
</head>
<body>
<div layout:fragment="content">

    <div class="row">
        <div class="col-3">
            filters
        </div>

        <div class="col-9">
            <div class="list-group list-group-flush border-bottom scrollarea">
                <a th:each="post : ${posts}" th:href="@{/posts/details/{postId}(postId=${post.id})}" class="list-group-item list-group-item-action py-3 lh-sm">
                    <div class="d-flex w-100 align-items-center justify-content-between">
                        <strong class="mb-1" th:text="${post.title}">Title</strong>
                    </div>
                    <div class="col-10 mb-1 small" th:text="${post.description}">Description</div>
                </a>
            </div>
        </div>
    </div>

</div>
</body>
</html>