<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Register</title>
</head>
<body>
<div layout:fragment="content">

    <div class="d-flex flex-wrap mb-4">
        <h1 class="flex-grow-1">Registration Form</h1>
    </div>

    <div th:replace="~{fragments/forms::globalErrors('user')}"/>
    <form th:action="${requestUri}" method="post" autocomplete="off">

        <div class="row mb-3">
            <div class="col">
                <div th:replace="~{fragments/forms::inputRow(object='user', field='name', required=true, label='Name')}"/>
            </div>
            <div class="col">
                <div th:replace="~{fragments/forms::inputRow(object='user', field='surname', required=true, label='Surname')}"/>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <div th:replace="~{fragments/forms::inputRow(object='user', field='email', required=true, label='Email')}"/>
            </div>
            <div class="col">
                <div th:replace="~{fragments/forms::inputRow(object='user', field='phone', required=true, label='Phone')}"/>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <div th:replace="~{fragments/forms::inputRow(object='user', field='username', required=true, label='Username')}"/>
            </div>
            <div class="col">
                <div th:replace="~{fragments/forms::inputRow(object='user', field='password', required=true, label='Password', type='password')}"/>
            </div>
        </div>

        <div class="row mb-3">
            <div th:replace="~{fragments/forms::inputRow(object='user', field='userRole', required=true, type='radio', label='I am a')}"/>
        </div>

        <input type="submit" th:value="Register" class="btn btn-primary"/>
    </form>

</div>
</body>
</html>