<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
    <title>Home</title>
</head>
<body>
<div layout:fragment="content">

    <div sec:authorize="hasAuthority('USER')">
        This content is only shown to USER.
    </div>
    <div sec:authorize="hasAuthority('ADMIN')">
        This content is only shown to ADMIN.
    </div>

    <div sec:authorize="hasAuthority('DEVELOPER')">
        This content is only shown to DEVELOPER.
    </div>
    <div sec:authorize="hasAuthority('RECRUITER')">
        This content is only shown to RECRUITER.
    </div>
</div>
</body>
</html>
