<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Home</title>
</head>
<body>
<div layout:fragment="content">

    <h1 class="text-center">Dev Jobs Description</h1>
    <h2 class="mt-2">Functionality</h2>
    <p>The Job Post Board is a web application designed to facilitate job postings for developers and recruiters. It
        provides the following functionality:</p>
    <ul>
        <li>User Authentication: Users can register, login, and logout securely to access the platform.</li>
        <li>User Roles: The application supports two main user roles - DEVELOPER and RECRUITER.</li>
        <li>Job Posting: Recruiters can create and publish job postings with details such as job title,
            description, etc.
        </li>
        <li>Job Application: Developers can view job postings and apply to the ones they are interested in.</li>
        <li>Dashboard: Each user has a personalized dashboard where they can manage their job postings (for recruiters)
            or applications (for developers).
        </li>
    </ul>

    <h2 class="mt-2">Technologies Used</h2>
    <ul>
        <li>Java Spring</li>
        <li>Spring Security</li>
        <li>Spring MVC Architecture</li>
        <li>PostgreSQL</li>
        <li>HTML/CSS/JavaScript along with bootstrap</li>
        <li>Thymeleaf</li>
    </ul>

</div>
</body>
</html>
